<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="FSharp_Android_Unit_Test_App.FSharp_Android_Unit_Test_App">
	<uses-sdk />
	<application android:label="FSharp_Android_Unit_Test_App"></application>
</manifest>