<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="Android_Wear_App.Android_Wear_App">
	<uses-sdk />
	<uses-feature android:name="android.hardware.type.watch" />
	<application android:label="Android_Wear_App" android:theme="@android:style/Theme.DeviceDefault">
	</application>
</manifest>